body {
    justify-content: center;
    align-items: center;
    height: 107vh;
    margin: 0;
	background-color:#ddd;
	background-image: url('pictures/bg.jpg');
	background-size: cover;
    background-repeat: repeat;
}

.wave-text span {
    display: inline-block;
    font-size: 2rem;
    animation: wave 2s ease-in-out infinite;
	
}

.kontti {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-left:5%;
	margin-right:5%;
}

.wave-text {
	background-color:rgba(0, 0, 0, 0.7);
	border-radius: 2rem;
	padding: 2rem;
	display: block;
	color: #fff;
	min-width: 30%;
	text-align: center;
	margin-top: 10rem;
}

.wave-text span:nth-child(10n) {
    animation-delay: 0s;
}
.wave-text span:nth-child(10n+1) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(10n+2) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(10n+3) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(10n+4) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(10n+5) {
    animation-delay: 1s;
}
.wave-text span:nth-child(10n+6) {
    animation-delay: 1.2s;
}
.wave-text span:nth-child(10n+7) {
    animation-delay: 1.4s;
}
.wave-text span:nth-child(10n+8) {
    animation-delay: 1.6s;
}
.wave-text span:nth-child(10n+9) {
    animation-delay: 1.8s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


.video-container {
  position: relative;
  width: 90%;
  aspect-ratio: 16 / 9;
}
.video-container iframe {
  position: absolute;
  padding-top:10%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.kuvakontti {
    padding-top:10%;
}


.skelkontti {
    position: fixed;
  bottom: 0;
  left: 10px;
  z-index: 0;
}




